PORT=8787
HOST=127.0.0.1
BETA_TOKEN=replace-with-private-beta-token
SONIOX_API_KEY=replace-with-soniox-key
UPSTAGE_API_KEY=replace-with-upstage-key
MAX_CONCURRENT_SESSIONS=4
MAX_STT_SESSION_SECONDS=7200
MAX_WS_BYTES=1073741824
RELAY_DISABLED=0
